.App {
  margin: 0;
  padding: 0;
  width: 100%;
}

/*NAV BAR */

.navbar {
  display: inline-block;
  width: 100%;
  height: 6.9em;
  background-color: black;
}

/* Use this to edit space between navbar items and logo */

.logo {
  padding: 0.001em;
  padding-right: 30.5em;
  padding-left: 23em;
  float: left;
}

.navmenu {
  padding-left: 2.5em;
  color: white;
  float: left;
}

.navmenu ul li {
  font-family: 'Crete Round', serif;
  font-size: 1.5em;
  cursor: text;
  display: inline-block;
  color: white;
  list-style: none;
  float: left;
}

/* Removes blue text from a tag */

.no-link {
  color:inherit;
  text-decoration:none;
}

.navmenu ul li a {
  display: block;
  text-decoration: none;
  padding: 1.7em;
  font-size: 0.875em;
}

.navmenu ul li a:hover {
  font-family: 'Crete Round', serif;
  background-color: gray;
  color: white;
  transition: 0.5s linear;
}

/* Megamenu */

.navmenu ul li ul.megamenu {
   border-radius: 0px 25px 25px 25px;
   width: 59%;
   padding: 1.5em;
   background: linear-gradient(#9da5b3, #787b80);
   position: absolute;
   display: none;
}

.navmenu ul li:hover ul.megamenu {
  color: white;
  display: block;
}

.navmenu ul li:hover ul.megamenu li {
  width: 300px;
  margin-right: 50px;
}

.navmenu ul li:hover ul.megamenu li a {
  padding: 10px;
  color: white;
  text-align: center;
}

.navmenu ul li:hover ul.megamenu li a:hover {
  background-color: white;
  color: gray;
}

.navmenu ul li:hover ul.megamenu li h1 {
  font-family: 'Crete Round', serif;
  font-size: 1em;
  color: white;
  text-align: center;
  margin-left: 5px;
  border-bottom: 1px solid white;
}

/* NAV BAR END */

/* HEADER BEGIN */

.indexwrap {
  padding: 6em;
  padding-top: 7em;
}

.discoverwrap {
  width: 100%;
  height:80vh;
  background: url("./images/INDEXIMAGE.jpg");
  background-size: cover;
}

.headlinebox {
  margin-top: 22%;
  text-align: center;
  padding: 2em;
  float: right;
}

.headlinetxt {
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: white;
  padding: 1em;
  height: 10em;
  width: 40em;

}

.headlinesub {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  color: white;
}

/* HEADER END */

/*POPULAR ITEMS */

.popitemswrap {
  padding: 6em;
  padding-top: 0em;
}

.popitemshead {
  font-family: 'Crete Round', serif;
  color: white;
  background-color: black;
  padding: 2em;
  padding-bottom: 1.2em;
}

.popitemscont {
  background-color: #d5d7db;
  width: 100%;
  height: 45em;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.itemcards {
  border-top: 5px solid black;
  display: table;
  clear: both;
  width: 100%;
  padding-top: 0em;
  padding: 2em;
}

.itemcard {
  background-color: white;
  margin: 1em;
  float: left;
  height: 30em;
  width: 18%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
